body {
    margin: 0;
    padding: 0;
    background-color: #3A006F; 
    color: #FFF; 
    font-family: 'Roboto', sans-serif;
    
  }
  
  p {
    margin: 0;
  }
  
  .top {
    display: flex;
    align-items: center;
    height: 20vh; 
    padding: 10px;
    box-sizing: border-box; 
    width: 100%;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .top p {
    font-size: 0.8rem; 
    margin: 0; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
  }
  
  .topButtons {
    background-color: #8E44AD; 
    color: white;
    border: 2px solid #7D3C98; 
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px; 
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    box-sizing: border-box; 
    width: auto;
  }
  
.topButtons:hover {
    background-color: #A569BD; 
    border-color: #9B59B6; 
  }
  
  
 
  .musicB {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    right: 10px; 
  }
  
  .musicB img {
    width: 30px;
    height: 30px;
  }
  
  .musicB:hover img {
    opacity: 0.8;
  }
  
 
  .mid {
    width: 60%;
    margin: 10px auto; 
    padding: 20px;
    background-color: #FFF;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 60vh; 
  }
  

  
  
  .mid h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mid p {
    font-size: 1rem;
    line-height: 1.6;
  }
    
  
  .bot {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 20vh;
    padding: 0 20px;
  }
  
  
  .botButtons {
    background-color: #2980B9; 
    color: white;
    border: 2px solid #2471A3;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .botButtons:hover {
    background-color: #3498DB; 
  }
  
  
#aboutMeContent {
    display: flex;
    flex-wrap: wrap;              
    align-items: flex-start;
    justify-content: center;      
  }
  
  #aboutMeContent img {
    margin-right: 20px;          
  }
  
  #aboutmeInfo {
    flex: 1;                     
    text-align: left;  
    margin-top: 24px;        
  }
  